pandas
numpy
matplotlib
scikit-learn
nltk
transformers
torch
google-play-scraper
beautifulsoup4
requests
lxml
psycopg2-binary
SQLAlchemy
tqdm
spacy
sentence-transformers
vaderSentiment
jupyterlab
seaborn
plotly
